<!doctype HTML>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='main.css') }}>
    </head>
    <body>
        <div class="title">Advanced Programming: Final Project</div>
        <div class="subtitle"><p>Davide Bonfanti, Sofia Ognibene, Daniele Pozzobon</p></div>
        <p class="main">{{title}}</p>
        <div class="body">
            <table>
            <tr>
            {%for i in data.columns.values%}
                <td class="first">{{i}}</td>
            {% endfor %}
            </tr>
            {% for i in range(data.shape[0]) %}
            <tr>
                {% for j in range(data.shape[1]) %}
                <td>{{data.iloc[i, j]|safe}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </table>
        </div>
        <div class="navigation">
            <img  class="home"src="ststic/images/home.png" onclick="href = '/';">
        </div>
    </body>
</html>