<!doctype HTML>
<html>
    <head>
        <title>Metadata</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <div class="title">Advanced Programming: Final Project</div>
        <div class="subtitle"><p>Davide Bonfanti, Sofia Ognibene, Daniele Pozzobon</p></div>
        <p class="main">Metadata</p>
        <div class="body">
            <table>
            <tr>
                <td class="first">Dataset:</td>
                <td>Gene Dataset</td>
            </tr>
            <tr>
                <td class="first">Columns</td><td>8</td>
            </tr>
            <tr>
                <td class="first">Rows</td>
                <td>10000</td>
            </tr>
        </table>
        </div>
        <div class="navigation">
            <img  class="home"src="images/home.png" onclick="window.location.href = 'home.html';">
        </div>
    </body>
</html>