<!doctype HTML>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='main.css') }}>
    </head>
    <body>
        <div class="title">Advanced Programming: Final Project</div>
        <div class="subtitle"><p>Davide Bonfanti, Sofia Ognibene, Daniele Pozzobon</p></div>
        <p class="main">{{title}}</p>
        <div class="quotes">
            <table style="text-align: center;">
            <tr>
                <td class="first">Input:</td>
                <td>{{val}}</td>
            </tr>
        </table>
        <br>
        {% for i in  range(data.shape[0]):%}
        {% for j in  range(data.shape[1]):%}
        <p class="quote">&#8220</p>
        {{data.iloc[i,j]|safe}}
        <p class="quote">&#8221</p>
        {% endfor %}
        {% endfor %}
        </div>
        {% if data.empty %}
        <div class="body" style="text-align: center; color: rgb(242, 173, 101);">
            <p>No result with this input, it could be both wrong or not present in the dataset. Please check the list of genes and diseases.</p>
        </div>
        {% endif %}
        <div class="navigation">
            <a href="/"><img  class="home" src="static/images/home.png"></a>
        </div>
    </body>
</html>