<!doctype HTML>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='main.css') }}>
    </head>
    <body>
        <div class="title">Advanced Programming: Final Project</div>
        <div class="subtitle"><p>Davide Bonfanti, Sofia Ognibene, Daniele Pozzobon</p></div>
        <p class="main">{{title}}</p>
        <div class="quotes">
            <table style="text-align: center;">
            <tr>
                <td class="first">Gene ID:</td>
                <td>{{val}}</td>
            </tr>
        </table>
        <br>
        {% for i in  range(data.shape[0]):%}
        {% for j in  range(data.shape[1]):%}
        <p class="quote">&#8220</p>
        {{data.iloc[i,j]}}
        <p class="quote">&#8221</p>
        {% endfor %}
        {% endfor %}
        </div>
        <div class="navigation">
            <img  class="home"src="static/images/home.png" onclick="href = '/';">
        </div>
    </body>
</html>