<!doctype HTML>
<html>
    <head>
        <title>Quotes</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <div class="title">Advanced Programming: Final Project</div>
        <div class="subtitle"><p>Davide Bonfanti, Sofia Ognibene, Daniele Pozzobon</p></div>
        <p class="main">Quotes</p>
        <div class="quotes">
            <table style="text-align: center;">
            <tr>
                <td class="first">Gene ID:</td>
                <td>1</td>
            </tr>
        </table>
        <br>
        <p class="quote">&#8220</p>
        <p>By inhibiting <span class='gene' id='G-12525-5-14-19'>IL-1α</span>/<span class='gene' id='G-12526-5-20-25'>IL-1β</span> competitively from binding to the <span class='gene' id='G-12525_G-12526-5-60-64'>IL-1</span> type-<span class='gene' id='G-0-5-70-80'>I receptor</span>, anakinra, neutralizes the activity that pertains to these key mediators of autoinflammatory and/or immune processes.</p>
        <p class="quote">&#8221</p>
        <p class="quote">&#8220</p>
        <p>By inhibiting <span class='gene' id='G-12525-5-14-19'>IL-1α</span>/<span class='gene' id='G-12526-5-20-25'>IL-1β</span> competitively from binding to the <span class='gene' id='G-12525_G-12526-5-60-64'>IL-1</span> type-<span class='gene' id='G-0-5-70-80'>I receptor</span>, anakinra, neutralizes the activity that pertains to these key mediators of autoinflammatory and/or immune processes.</p>
        <p class="quote">&#8221</p>
        <p class="quote">&#8220</p>
        <p>By inhibiting <span class='gene' id='G-12525-5-14-19'>IL-1α</span>/<span class='gene' id='G-12526-5-20-25'>IL-1β</span> competitively from binding to the <span class='gene' id='G-12525_G-12526-5-60-64'>IL-1</span> type-<span class='gene' id='G-0-5-70-80'>I receptor</span>, anakinra, neutralizes the activity that pertains to these key mediators of autoinflammatory and/or immune processes.</p>
        <p class="quote">&#8221</p>
        <p class="quote">&#8220</p>
        <p>By inhibiting <span class='gene' id='G-12525-5-14-19'>IL-1α</span>/<span class='gene' id='G-12526-5-20-25'>IL-1β</span> competitively from binding to the <span class='gene' id='G-12525_G-12526-5-60-64'>IL-1</span> type-<span class='gene' id='G-0-5-70-80'>I receptor</span>, anakinra, neutralizes the activity that pertains to these key mediators of autoinflammatory and/or immune processes.</p>
        <p class="quote">&#8221</p>
        <p class="quote">&#8220</p>
        <p>By inhibiting <span class='gene' id='G-12525-5-14-19'>IL-1α</span>/<span class='gene' id='G-12526-5-20-25'>IL-1β</span> competitively from binding to the <span class='gene' id='G-12525_G-12526-5-60-64'>IL-1</span> type-<span class='gene' id='G-0-5-70-80'>I receptor</span>, anakinra, neutralizes the activity that pertains to these key mediators of autoinflammatory and/or immune processes.</p>
        <p class="quote">&#8221</p>
        <p class="quote">&#8220</p>
        <p>By inhibiting <span class='gene' id='G-12525-5-14-19'>IL-1α</span>/<span class='gene' id='G-12526-5-20-25'>IL-1β</span> competitively from binding to the <span class='gene' id='G-12525_G-12526-5-60-64'>IL-1</span> type-<span class='gene' id='G-0-5-70-80'>I receptor</span>, anakinra, neutralizes the activity that pertains to these key mediators of autoinflammatory and/or immune processes.</p>
        <p class="quote">&#8221</p>
        <p class="quote">&#8220</p>
        <p>By inhibiting <span class='gene' id='G-12525-5-14-19'>IL-1α</span>/<span class='gene' id='G-12526-5-20-25'>IL-1β</span> competitively from binding to the <span class='gene' id='G-12525_G-12526-5-60-64'>IL-1</span> type-<span class='gene' id='G-0-5-70-80'>I receptor</span>, anakinra, neutralizes the activity that pertains to these key mediators of autoinflammatory and/or immune processes.</p>
        <p class="quote">&#8221</p>
        <p class="quote">&#8220</p>
        <p>By inhibiting <span class='gene' id='G-12525-5-14-19'>IL-1α</span>/<span class='gene' id='G-12526-5-20-25'>IL-1β</span> competitively from binding to the <span class='gene' id='G-12525_G-12526-5-60-64'>IL-1</span> type-<span class='gene' id='G-0-5-70-80'>I receptor</span>, anakinra, neutralizes the activity that pertains to these key mediators of autoinflammatory and/or immune processes.</p>
        <p class="quote">&#8221</p>
        </div>
        <div class="navigation">
            <img  class="home"src="images/home.png" onclick="window.location.href = 'home.html';">
        </div>
    </body>
</html>